.modal {
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: #ea4b34;
    /* border: 2px solid black; */
    margin-bottom: 10px;
}



.modalHidden {
    display: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    padding: 10px 25px;
    background-color: #d64530;
}
.navTitle{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}

.modalText{
    margin-top: 25px;
    color: white;
    text-align: center;
}

.modalButtonBlock {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.modalButton{
    background-color: #b53726;
    color: white;
    border: none;
    padding: 10px 25px;
    width: 100px;
    cursor: pointer;
}

.secondModalButton {
    background-color: #0784eb;
    color: white;
    border: none;
    padding: 10px 25px;
    width: 100px;
    cursor: pointer;
}

.navClose{
    font-size: 22px;
    color: white;
    cursor: pointer;
}